VITE_SUPABASE_URL=https://dobfgelccmsxkiijqike.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvYmZnZWxjY21zeGtpaWpxaWtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczNDk5MDUsImV4cCI6MjEwMjkyNTkwNX0.mkw8hBdlnvomsrnJEUFAGTA2RJE12kW-7gV5YbXkH0Y
